# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5126
DB_USER=postgres
DB_PASSWORD=thuc111
DB_NAME=system_db

# JWT Configuration
JWT_SECRET=USSASQIUEH2EEIU12HEWUEQ2EKDNM
JWT_EXPIRES_IN=7d

# Encryption Configuration
ENCRYPTION_SECRET=12QWEKJ384GHTUDNBGTI40LP3XHT7D3A

# Redis Configuration (Optional)
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS Configuration
CORS_ORIGIN=*
